* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100px;
}

.logo img {
    width: 100%;
}

.header {
    height: 124px;
}

.header-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer {
    height: 156px;
}

.footer-nav {
    flex-grow: 1;
}

.footer-box {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner {}

.banner-item {
    background-image: url(./images/banners/banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    padding: 60px 80px;
    border-radius: 10px;
}

.banner-item--title {
    color: #302c34;

    font-size: 39px;

    font-weight: 700;
}

.banner-item--subtitle {
    color: #302c34;
    font-size: 24px;
    font-weight: 400;
}